mixin link(url)
  a(href=url target="_blank")
    span
      block

mixin image(file)
  figure
    - let imgSrc
    if file.includes("http")
      - imgSrc = file
    else
      - imgSrc = "/img/"+file
    img(src=imgSrc)
    if block
      figcaption
        block


mixin videoBG(slug,start)
  if !start
    - start = 0
  section(data-background-iframe="https://www.youtube.com/embed/"+slug+"?start="+start+"&fs=0&showinfo=0&rel=0&modestbranding=1&autohide=1&showinfo=0&disablekb=1" data-background-interactive)
    block

mixin introScreen(slug, start)
  +videoBG(slug,start)
    if talkTitle && subtitle
      h3(style="margin-bottom:0")= talkTitle
      h4(style="text-transform:none;")= subtitle
      .a-talk-by(style="margin-top:52vh;")
        b.white.shadowed
          | (a talk by @AhoyLemon)
    else if talkTitle
      h3(style="margin-bottom:0")= talkTitle
      .a-talk-by(style="margin-top:52vh;")
        b.white.shadowed
          | (a talk by @AhoyLemon)
    block

mixin demo(fileName, width = 1280, height = 600)
  iframe.resizable(src=`./demos/${fileName}` width=width height=height)

mixin iframe(url, width = 1280, height = 600)
  iframe.resizable(src=url width=width height=height)